{% extends "base.html" %}

{% block content %}

<h2>Reports</h2>

<div class="card">
    <label>Select Date:</label>
    <input type="date" id="reportDate">

    <br><br>

    <button onclick="downloadReport()">Download Report</button>
</div>

<script>
function downloadReport() {
    const date = document.getElementById("reportDate").value;

    if (!date) {
        alert("Please select a date");
        return;
    }

    window.location.href = "/download";
}
</script>

{% endblock %}